<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <h4 style="text-align: center;">Buku Kas Bantu</h4>
    <p style="text-align: center;">Tanggal: 01-07-2021</p>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr style="text-align: center; " class="table table-success">
            <th rowspan="2">Tgl</th>
            <th rowspan="2">No.<br>Urut</th>
            <th rowspan="2">No. Perkara</th>
            <th rowspan="2">Uraian</th>
            <th colspan="2">Jumlah</th>
            <th rowspan="2">Keterangan</th>
            
          </tr>

          <tr style="text-align: center;" class="table table-success">
            <th>Pengeluaran</th>
            <th>Pemasukan</th>
          </tr>

          <tr>
            <td>2-2-2020</td>
            <td>1</td>
            <td>7/PDT.G/2021/PN NBA</td>
            <td>Saldo kas</td>
            <td>5.000.000</td>
            <td>0</td>
            <td>saldo kas awal</td>
            
          </tr>

          <tr>
            <td></td>
            <td></td>
            <th>Saldo</th>
            <td>3.472.000</td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>Penerimaan</th>
            <td>3.072.000</td>
            <td>3.472.000</td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>Pengerluaran</th>
            <td>775.000</td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td></td>
            <td></td>
            <th>Sisa</th>
            <td>5.787.000</td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
        </table>

      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>